/* COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS COMMONS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.white {
    color: white;
    cursor: pointer;
}

.grey {
    color: grey;
}

.section-flex {
    display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.in-bl {
    display: inline-block;
}

.icon-hover:hover {
    color: white;
}
/* SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION */


/* sezione di sinistra */
.left-section {
    height: 92vh;
    width: 12vw;
    background-color: black;
    overflow:hidden;
    padding-bottom: 20px;
}

.logo {
    width: 70%;
    padding: 20px;
    cursor: pointer;
}

.button-home {
    padding-left: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-self: center;
}

.overflox-playlist {
    overflow-y: auto;
}

.button {
    color: grey;
    padding-left: 20px;
    padding-bottom: 20px;  
    cursor: pointer;
}

.button:hover {
    color: white;
}

.button-installa-app {
    display: flex;
    align-items: flex-end;
    height: 30%;
}


/* sezione di destra  */
.right-section-overflow {
    height: 900px;
    width: 88vw;
    background-color: rgb(20, 25, 34);
    overflow-y: scroll;
}

.top-right-section-fixed{
    position: fixed;
    background-color: rgb(8, 11, 18);
    width: 89%;
    height: 80px;
}

.button-upgrade {
    border: 1px solid white;
    border-radius: 15px;
    width: 210px;
    padding: 5px 15px;    
    float: right;
    position: relative;
    top: 15px;
    margin-right: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.main-section {
    padding-top: 100px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.nav-right-section ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-right-section li {
    margin: 0 10px;
} 

.nav-right-section a {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-right-section a:hover {
    color: white;
}

h2 {
    padding-top: 30px;
    margin: 20px auto;
    color: white;
    font-size: 34px;
}

.card {
   float: left;
   width: calc(100% / 6.5);
   margin-right: 20px;
   min-height: 300px;
}

.row img {
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
}

.description {
    text-align: center;
    cursor: pointer;
}

/* sezione bassa */
.bottom-section {
    background-color: rgb(40, 40, 40);
    height: 80px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
}

.row-footer {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-top: 10px;
    justify-content: space-between;
}

.row-footer img {
    height: 60px;
    vertical-align: -25px;
}

.description-2 {
    padding-left: 15px;
    cursor: pointer;
}

.fa-heart {
    margin-left: 40px;
    cursor: pointer;
}

.fa-folder {
    margin-left: 10px;
    cursor: pointer;    
}

.central-section-footer {
    width: 33%;
    text-align: center;
}

.central-section-footer i {
    margin-right: 25px;
    font-size: 20px;
}

.barra-canzone {
    width: 100%;
    margin-top: 20px;
}

.barra-centrale-footer {
    width: 80%;
    height: 4px;
    display: inline-block;
    background-color: grey;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
}

.barra-canzone .barra-verde {
    width: 15%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin-bottom: 11px;
    margin-right: 430px;    
    cursor: pointer;
    border-radius: 15px;

}

.barra-canzone .barra-verde:hover {
    background-color: rgb(0, 255, 0);
}

.numero {
    position: relative;
    bottom: 7px;
}

.third-section {
    width: 20%;
    text-align: right;
}

.barra-destra-footer {
    width: 20%;
    height: 4px;
    display: inline-block;
    background-color: grey;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    top: 6px;
}

.barra-bianca {
    width: 25%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin-bottom: 11px;
    margin-right: 430px;    
    cursor: pointer;
    border-radius: 15px;
}

.fa-desktop {
    margin: 0 10px;
}